<%= form_with(model: task, local: true) do |form| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= @task.errors.count %>件のエラーがあります。</h2>
      <ul>
      <% @task.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :種類 %>
    <%= form.text_field :assortment, placeholder: '例)JOB' %>
  </div>

  <div class="field">
    <%= form.label :大分類 %>
    <%= form.text_field :major_category, placeholder: '例)採用' %>
  </div>

  <div class="field">
    <%= form.label :中分類 %>
    <%= form.text_field :medium_category, placeholder: '例)23年度新卒採用' %>
  </div>

  <div class="field">
    <%= form.label :小分類 %>
    <%= form.text_field :sub_category, placeholder: '例)埼玉大合説' %>
  </div>

  <div class="field">
    <%= form.label :内容 %>
    <%= form.text_field :content, placeholder: '例)資料送付' %>
  </div>

  <div class="field">
    <%= form.label :予定工数 %>
    <%= form.number_field :plan_hours, step: "0.01", placeholder: '例)0.5(30分の場合)' %>
  </div>

  <div class="field">
    <%= form.label :実工数 %>
    <%= form.number_field :spend_hours, step: "0.01", placeholder: '例)1.25(75分の場合)' %>
  </div>

  <div class="field">
    <%= form.label :締め切り %>
    <%= form.date_select :deadline_on %>
  </div>

  <div class="field">
    <%= form.label :ステータス %>
    <%= form.select :status, Task.statuses.keys.to_a, {}  %>
  </div>

  <div class="checklabelstyle">
    <%#= form.label :ラベル %>
    <%= form.collection_check_boxes(:label_ids, Label.all, :id, :name) %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
