<h1>タスク一覧</h1>

<%= link_to "検索・ソート機能リセット", tasks_path %>
<%= link_to "終了期限で並び替え", tasks_path(sort_limit: true) %>

<%= render 'search', q: @q, url: tasks_path %>

<table>
  <thead>
    <tr>
      <th>中分類</th>
      <th>小分類</th>
      <th>内容</th>
      <th>予定工数</th>
      <th>実工数</th>
      <th>締め切り</th>
      <th>ステータス</th>
      <th>ラベル</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.medium_category %></td>
        <td><%= task.sub_category %></td>
        <td><%= task.content %></td>
        <td><%= task.plan_hours %></td>
        <td><%= task.spend_hours %></td>
        <td><%= task.deadline_on %></td>
        <td><%= task.status %></td>
        <td>
          <% task.labels.each do |label| %>
            <%= label.name %>
          <% end %>
        </td>
        <td><%= link_to 'Show', task %></td>
        <td><%= link_to 'Edit', edit_task_path(task) %></td>
        <td><%= link_to 'Destroy', task, method: :delete, data: { confirm: '本当に削除しますか？' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= paginate @tasks %>
<br>

<%= link_to '新規タスク登録', new_task_path %>
