<h1>タスク詳細</h1>

<p>
  <strong>種類:</strong>
  <%= @task.assortment %>
</p>

<p>
  <strong>大分類:</strong>
  <%= @task.major_category %>
</p>

<p>
  <strong>中分類:</strong>
  <%= @task.medium_category %>
</p>

<p>
  <strong>小分類:</strong>
  <%= @task.sub_category %>
</p>

<p>
  <strong>内容:</strong>
  <%= @task.content %>
</p>

<p>
  <strong>予定工数:</strong>
  <%= @task.plan_hours %>
</p>

<p>
  <strong>実工数:</strong>
  <%= @task.spend_hours %>
</p>

<p>
  <strong>締め切り:</strong>
  <%= @task.deadline_on %>
</p>

<p>
  <strong>ステータス:</strong>
  <%= @task.status %>
</p>

<p>
  <strong>ラベル:</strong>
  <% @task.labels.each do |label| %>
    <%= label.name %>
  <% end %>
</p>

  <p>コメント</p>
  <!-- このcomments_areaというHTMLのidを取得して、そのdivの部分だけを更新する -->
  <div id="comments_area">
    <!-- 投稿されたコメント一覧をブログの詳細ページに表示するためのrender -->
    <%= render partial: 'comments/index', locals: { comments: @comments, task: @task } %>
  </div>
  <!-- コメント入力欄をブログの詳細ページに表示するためのrender -->
  <%= render partial: 'comments/form', locals: { comment: @comment, task: @task } %>

<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
