<p id="notice"><%= notice %></p>

<p>
  <strong>Assortment:</strong>
  <%= @task.assortment %>
</p>

<p>
  <strong>Major category:</strong>
  <%= @task.major_category %>
</p>

<p>
  <strong>Medium category:</strong>
  <%= @task.medium_category %>
</p>

<p>
  <strong>Sub category:</strong>
  <%= @task.sub_category %>
</p>

<p>
  <strong>Content:</strong>
  <%= @task.content %>
</p>

<p>
  <strong>Plan hours:</strong>
  <%= @task.plan_hours %>
</p>

<p>
  <strong>Spend hours:</strong>
  <%= @task.spend_hours %>
</p>

<p>
  <strong>Deadline on:</strong>
  <%= @task.deadline_on %>
</p>

<p>
  <strong>Status:</strong>
  <%= @task.status %>
</p>

<p>
  <strong>Label:</strong>
  <% @task.labels.each do |label| %>
    <%= label.name %>
  <% end %>
</p>

  <p>コメント</p>
  <!-- このcomments_areaというHTMLのidを取得して、そのdivの部分だけを更新する -->
  <div id="comments_area">
    <!-- 投稿されたコメント一覧をブログの詳細ページに表示するためのrender -->
    <%= render partial: 'comments/index', locals: { comments: @comments, task: @task } %>
  </div>
  <!-- コメント入力欄をブログの詳細ページに表示するためのrender -->
  <%= render partial: 'comments/form', locals: { comment: @comment, task: @task } %>

<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
