<h1><%= @user.name %>のページ</h1>
<p>メールアドレス: <%= @user.email %></p>

<%= link_to 'ユーザー情報を編集する', edit_user_registration_path(@user), class: "btn btn-success mr-3" %>
<%= link_to "ユーザーを削除する", @user, method: :delete, data: { confirm: '本当に削除しますか？' }, class: "btn btn-danger mr-3" %>
<%= link_to "タスク一覧へ", tasks_path(@user.id), class:"btn btn-primary mr-3" %>